.App {
  justify-content: center;
  display: flex;
}
.div-info, .div-data{
  text-align: center;
  width: 30vw;
  height: 30vw;
  background-color: aqua;
  font-size: xx-large;
  margin: 30px;
  border-radius: 8px;
  border: blueviolet solid 5px;
}
